.mm-add-listing a {
    padding: 15px 10px 15px 20px !important;
}

.mm-panel {
    background: #fff;
}

.mm-menu li.current > a {
    background-color: #1C75BC;
    color: #fff !important;
    min-height: 40px;
}

.mm-menu li > a {
    border-radius: 5px;
    transition: all 0.3s ease;
    min-height: 40px;
    height: 100%;
    display: flex;
    align-items: center;
}

.mm-listitem a {
    color: #000 !important;
}

.mm-menu li a:hover {
    background-color: #1C75BC;
    color: #fff !important;
}

.mm-navbar_sticky {
    background-color: #1C75BC;
    color: #fff !important;
    margin-bottom: 5px;
}


/*new slider css*/
.slider-img {
    width: 1140px;
    height: 500px;
    object-fit: cover;
}

@media only screen and (max-width: 599px) {
    .blog-single .auto-container {
        padding: 20px 20px;
    }
}

@media (max-width: 600px) {
    .blog-single p {
        margin-bottom: 0;
    }
}

.dashboard-outer .user-img {
    min-width: 120px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

@media (max-width: 450px) {
    .dashboard-outer .user-img {
        min-width: auto;
        width: auto;
        height: auto;
    }
}

@media (max-width: 390px) {
    .ui-item p {
        font-size: 11px;
    }
}

.job-search {
    left: 30px;
    top: 80px;
}

.job-search li {
    border-bottom: 1px solid #d5d5d5;
}

.job-search-dropdown {
    padding: 15px;
}

.notice-div {
    max-height: 500px;
    overflow: hidden;
}

.job-badge {
    overflow: hidden;
    text-overflow: ellipsis;
}

.mm-btn_next:after, .mm-btn_prev:before {
    border-color: #000000;
}

#nav-mobile {
    padding-bottom: 3rem !important;
}

.padding-0 {
    padding-top: 0 !important;
}

.social-share a {
    padding: 10px 15px !important;
}

.employer-workflow-slider .owl-nav div {
    padding: 18px 14px;
    line-height: 0;
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px rgba(64, 79, 104, 0.1);
    box-shadow: 0px 0px 30px rgba(64, 79, 104, 0.1);
    color: #696969;
}
.employer-workflow-slider .owl-nav {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
}
.employer-workflow-slider {
    position: relative;
    padding-top: 40px;
}
.employer-workflow-slider .owl-prev{
    margin-right: 4px;
}
.employer-workflow-slider .owl-nav {
    display: inline-flex;
}
.register-form .form-group h3 {
    margin-bottom: 15px;
}
.register-form.default-form {
    max-width: 1100px;
}
.form-tooltip {
    font-size: 12px;
    font-style: italic;
}
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #28a745 !important;
    padding-right: calc(1.5em + .75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(.375em + .1875rem) center !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
}
.default-form .form-group input[type="text"]:focus, .default-form .form-group input[type="email"]:focus, .default-form .form-group input[type="url"]:focus, .default-form .form-group select:focus, .default-form .form-group textarea:focus {
    border-color: #282828;
    background-position-x: 0%;
    background-position-y: 0%;
    background: #f0f5f7 none repeat;
    background-size: auto;
    outline: none;
    box-shadow: none;
}

.form-control.is-valid, .form-control.is-invalid{
    -webkit-transition: unset !important;
    -o-transition: unset !important;
    transition: unset !important;
}
.title-description {
    position: relative;
}
.title-description .text {
    color: #282828;
}
.mumi-select2-wrapper {
    display: flex;
    flex-direction: column-reverse;
}
